@model FileUplod.WebApp.Models.FileUploadViewModel

@{
    ViewData["Title"] = "File Upload";
}

<h2>File Upload</h2>

<form asp-action="Index" asp-controller="Home" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="File" class="control-label">File</label>
        <input asp-for="File" class="form-control" type="file" />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Upload</button>

</form>
