@{
    ViewData["Title"] = "Upload Success";
}

<h2>Upload Successfully</h2>

<p>Your file has been uploaded successfully.</p>
<br />  

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
        <a asp-action="Index" asp-controller="Home" class="btn btn-dark">Back To List</a>
    </div>
</div>
